html {
background:#fff;
color:#000000;
font:20px Ubuntu, Arial;
scroll-behavior: smooth; 
overflow-x: hidden;
}
h2{
	font:40px Ubuntu;
}
#ss{
font:20px Ubuntu;
	color:#000;
}
a{
	color:#fff;
}
.first{
	padding: 1%;
	text-decoration: none;
	font:24px Ubuntu;
	color:#000;
	text-align:center;
	margin-top: 70px;
}
.second{
	padding: 1%;
	background-color: #000;
	color:#000;
	width: 100%;
	height: 80px;
	font:32px Impact;
	text-align:center;
}
#noti{
	background-image: url(../img/noti.JPG);
	color:#000;
	width: 100%;
	height: 80px;
	margin-top: 10px;
}

h6{
	margin-top: 8%;
	font:72px Ubuntu;
	text-align:center;
}
#t1{
	margin:1%;
	font-style: bold;
}
.catalog{
	width:100%;
	height:780px;
	margin-top: 5%;
	text-align: center;
}
.c1, .c2, .c3, .c4, .c5{
	display : inline-block;
	background-size: 100%;
	font:48px Impact;
	text-align: center;
	margin:1%;
	padding-top: 13%;
	height: 371px;
	background-repeat: no-repeat;
	color:#fff;
}
.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover{
	color:blue;
}
.c1{
	width:365px;
	background-image: url(../img/c1.JPG);
	background-repeat: no-repeat;
}
.c2{
	width:300px;
	background-image: url(../img/c2.JPG);
}
.c3{
	width:365px;
	background-image: url(../img/c3.JPG);
}
.c4{
	width:529px;
	background-image: url(../img/c4.JPG);
}
.c5{
	width:529px;
	background-image: url(../img/c5.JPG);
}

.slider{
	width:100%;
	height: 100%;
}

hr{
	border:2px solid;
	width:100%;
}
.name{
	padding-top:5%;
	text-align:center;
	height: 50%;
	font:37px Ubuntu;
}
.about{
	text-indent: 50px;
	padding-top:5%;
	text-align: justify;
	height: 50%;
	font:24px Ubuntu;
}
.dost{
	font:24px Ubuntu;
	height: 100%;
	width:100%;
	text-align: justify;
	
}



.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.column {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 1px solid #ccc;
    -moz-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    font:24px Ubuntu;
    text-align: center;
    padding: 3%;
   }
footer{
	background-color: #000;
	color:#fff;
	font:36px Ubuntu;
	height: 100px;
}
.footmain{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.fmain{
	padding-top: 30px;
}

.form-control{
	width:20%;
}


.item_photos{
	margin:auto;
	margin-top: 20%;
	padding:2%;
	text-align: center;
	height: 350px;
	width: 350px;
	 box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.item_photos:hover{
	-webkit-transform: scale(1.2);
}
.item_info{
	margin-top: 20px;
	padding:2%;
	text-align: center;
	height: 380px;
}
#h1{
	font:30px Ubuntu;
}
.buy{
	padding: 10px;
	margin:auto;
	background-color: #000;
	text-decoration:none;
	color:#fff;
	width:200px;
	height: 50px;
	text-align: center;
}
input{
	margin:auto;
	width:90%;
}

#somep{
	padding:10px;
	text-indent: 50px;
	text-align: justify;
}

#red{
	color: red;
}
#red1{
	color: red;
}
#komment{
	margin: auto;
	width: 90%;
}
textarea{
	margin: auto;
	width: 90%;
	height: 180px;
}
#mark{
	width: 10%;
}
#send{
	float: right;
	margin-right: 5%;
	background-color: #000;
}
.basket{
	text-indent: 50px;
	padding-top:5%;
	text-align: justify;
	height: 380px;
	font:24px Ubuntu;
	background-color: #fff;
}
.login{
	padding-top:5%;
	text-align: center;
	height: 430px;
	font:24px Ubuntu;
	background-color: #fff;
}
#login, #password{
	width:200px;
}
#button1{
	margin: auto;
	float: center;
	background-color: #000;
	width:200px;
	color: #fff;
}

#at{
	color:#000;
}
#at1{
	color:#000;
}
#at:hover{
	color:blue;
}
#hello{
	margin: auto;
	height: 100px;
	background-color: #fff;
	color:#000;
}

#item1, #price1{
	margin-top: 30px;
	font-size: 30px;
	float: left;
}
#price1{
	float:right;
	color:red;
}

#b1_name{
	color: red;
}

.otzivi{
	margin-left: 5%;
	font:20px Ubuntu;
}

@media(max-width: 1200px){


.c1, .c2, .c3, .c4, .c5{
	height: 250px;
	width: 280px;
	padding-top: 10%;
}
.c4, .c5{
	width:432px;
}
}

@media(max-width: 995px){
	a{
	color:#fff;
}
#aaa{
		color:#000;
	}
	#item{
		text-align: center;
	}
	
#somep{
	padding:5px;
	text-indent: 25px;
 font-size: 14px;
}

#h1{
	font-size: 20px;
}
	.form-control{
	width:40%;
}
	.column{
		font-size: 20px;
	}
	.first_1{
		width:300px;
	}
	.second{
		font-size: 20px;
		height: 40px;
	}
	h2{
		font-size: 20px;
	}
	.container{
		text-align: center;
	}
	.c1, .c2, .c3, .c4, .c5{
		width:100%;
		height: 150px;
		display: block;
		padding-top: 40px;
		margin:0;
		background-image: url(../img/с6.jpg);
		opacity: .2;
		background-size: 100%;
		color:#000;
}
.c1:hover, .c2:hover, .c3:hover, .c4:hover, .c5:hover{
	opacity: 1;
}

}
@media(max-width: 776px){
	a{
	color:#fff;
}
#aaa{
		color:#000;
	}
	#komment{
	width: 80%;
}
input{
	width:80%;
}
textarea{
	width: 80%;
	height: 100px;
}
	.dost, .about{
		font-size:14px;
	}
	.h5{
		font-size: 50px;
	}
	.item_info{
		margin: 0;
		height: 450px;
	}
	.item_photos{
		height: 350px;
	}
}


@media(max-width: 576px){
	form{
	height: 350px;
}
	a{
	color:#fff;
}
#aaa{
		color:#000;
	}
	.item_info{
	margin-top: 0px;
}
	.item_photos{
	height: 350px;
	 box-shadow: 0 0 0px rgba(0,0,0,0);

}
		#komment{
	width: 70%;
}
input{
	width: 70%;
}
textarea{
	width: 70%;
	height: 100px;
}

	.item_info{
		margin: 0;
		height: 450px;
	}
	.item_photos{
		height: 500px;
	}
	.fmain{
		font-size: 18px;
}
.second{
		display: none;
	}
.first_1{
		display: none;
	}
	.column{
		font-size: 15px;
	}
.form-control{
	width:60%;
	font-size:14px;
}
h3{
	font-size: 20px;
}
h6{
	font:40px Ubuntu;
}
}
